
{{#if zmogus}}
<h1>Informacija apie pasirinkta zmogu: </h1>
{{#with zmogus}}
Vardas: <b>{{vardas}}</b><br>
Pavarde: <b>{{pavarde}}</b><br>
Alga: <b>{{alga}}<br></b>

Unikalus identifikavimo numeris: <b>{{id}}</b>

{{/with}}

{{else}}
<h1>You stupid!</h1>
{{/if}}

<br><button><a style="text-decoration: none;" href="/">Go back</a></button>
{{#with zmogus}}
<a href="/redagavimas/{{id}}">Redaguoti duomenys</a>
{{/with}}